<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="Header.html :: header"></div>

<!-- WELCOME-->
<section class="welcome p-t-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-4">
                    New bet
                </h1>
                <hr class="line-seprate">
            </div>
        </div>
    </div>
</section>

<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <strong>Actual wallet balance</strong>
        </div>
        <div class="card-body card-block">
            <table class="table table-data2">
                <tbody>
                <tr class="tr-shadow">
                    <td><p th:text="${wallet.balance}"></p></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <strong>Place new bet</strong>
        </div>
        <div class="card-body card-block">
            <form th:action="@{/user/{id}/bets/{gameId}/addBet(id=${id}, gameId=${game.id})}" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group">
                    <div class="col col-md-3">
                        <label for="select" class=" form-control-label">Team</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select name="select" id="select" class="form-control" th:field="*{bet.team}">
                            <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label mb-1">Amount</label>
                        <input id="cc-pament" th:name="cc-payment"  th:field="*{bet.amount}"
                               th:type="number" class="form-control" aria-required="true" aria-invalid="false" value="50.00">
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Reset
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="Footer.html :: footer"></div>