<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="Header.html :: header"></div>

<!-- WELCOME-->
<section class="welcome p-t-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-4">
                    All finished games
                </h1>
                <hr class="line-seprate">
            </div>
        </div>
    </div>
</section>
<!-- END WELCOME-->



<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Games Finished</h3>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                        <tr>
                            <th>game date & time</th>
                            <th>score</th>
                            <th>teams</th>
                            <th>score</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tr-shadow" th:each="game: ${finishedGames}">
                            <td><p th:text="${game.gameTime}"></p></td>
                            <td><p th:text="${game.pointsTeam1}"></p></td>
                            <td><p th:text="|${game.team1.name} vs ${game.team2.name}|"></p></td>
                            <td><p th:text="${game.pointsTeam2}"></p></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->




<div th:replace="Footer.html :: footer"></div>