<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="Header.html :: header"></div>

<!-- WELCOME-->
<section class="welcome p-t-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-4">
                    Team details
                </h1>
                <hr class="line-seprate">
            </div>
        </div>
    </div>
</section>
<!-- END WELCOME-->


<!-- DATA TABLE-->
<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Details</h3>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <tbody>
                        <tr>
                            <a th:href="@{/user/{id}/teams/addToFavourite/{teamId}/(id=${id}, teamId=${team.id})}">Add to favourite</a>
                        </tr>
                        <tr>
                            <td>id</td>
                            <th><p th:text="${team.id}"></p></th>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>team</td>
                            <th><p th:text="${team.name}"></p></th>
                        </tr>
                        <tr>
                            <td>games</td>
                            <th>
                            <ul th:each="game: ${games}">
                            <li><p th:text="|game time: ${game.gameTime} : ${game.team1.name} vs ${game.team2.name} |">
                            </p>
                            </li>
                            </ul>
                            </th>
                        </td>
                            </th>
                        </tr>
                            <td>strength</td>
                            <th><p th:text="${team.strength}"></p></th>
                        </tr>
                        <tr>
                            <td>seeding</td>
                            <th><p th:text="${team.seeding}"></p></th>
                        </tr>
                        <tr>
                            <td>won</td>
                            <th><p th:text="${team.won}"></p></th>
                        </tr>
                        <tr>
                            <td>lost</td>
                            <th><p th:text="${team.lost}"></p></th>
                        </tr>
                        <tr>
                            <td>point balance</td>
                            <th><p th:text="${team.pointBalance}"></p></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->
<!-- END DATA TABLE-->




<div th:replace="Footer.html :: footer"></div>